<!DOCTYPE html>
<html height="100%">
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</head>
    <body class="home">
        <nav class="redWest">
            <a href="/home"><img class="navimg" alt="Arrow" width="165.6" height="76.95"></a>
            <div class="navgroup">
                <a href="/collections">Collections &nbsp;</a>
                <a href="/about">About &nbsp;</a>
                <a href="/contact">Contact &nbsp;</a>
                <a>Logout</a>
            </div>
        </nav>
       
        <div class="aboutContainer">
            <h1 id="aboutTitle">ABOUT US</h1>
            <table><tr>
                <td>
                    <img class="fullFlex">
                </td>
                <td>
                    <div class="contentText">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;REDwest is an all-Canadian apparel company focusing on clothing for fitness.  We find that a great workout starts with a comfortable and inspirational shirt that reminds you to keep going and shows everyone else what you're made of. <br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The name REDwest comes from the small community of West Rouge, which is where we come from. Rouge is french for red so we thought it would be a good name to represent where we came from as red is also a colour that signifies Canada and we are in the western hemisphere.
                    </div>
                </td>
            </tr></table>
        </div>      
    </body>
</html>
