<!DOCTYPE html>
<html height="100%">
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</head>
    <body class="home">
        <nav class="redWest">
            <a href="/home"><img class="navimg" alt="Arrow" width="165.6" height="76.95"></a>
            <div class="navgroup">
                <a href="/collections">Collections &nbsp;</a>
                <a href="/about">About &nbsp;</a>
                <a href="/contact">Contact &nbsp;</a>
                <a>Logout</a>
            </div>
        </nav>
       
        <div class="colContainer">
            <h1 id="aboutTitle" >Collections:</h1>
            <table id="athTab">
                <th class="ath" name="athletics">Athletics:</th>
                <tr>                    
                    <td style="display: table-cell;">
                        <img class="bigbad">
                       
                    </td>
                    <td>
                       <img class="live"> 
                    </td>
                    <td>
                        <img class="inverse">
                    </td>
            </tr>
                 <tr>                    
                    <td>
                        <img class="gold">
                    </td>
                    <td>
                        <img class="where">
                    </td>
            </tr>
            </table>
            <table id="athTab">
                <th class="ath" name="canadiana">Canadiana:</th>
                <tr>                    
                    <td style="display: table-cell;">
                        <img class="arc">
                       
                    </td>
                    <td>
                       <img class="go"> 
                    </td>
                   
            </tr>
                 <tr>                    
                    <td>
                        <img class="great">
                    </td>
                    <td>
                        <img class="steel">
                    </td>
            </tr>
            </table>
        </div>      
    </body>
</html>
