<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</head>
    <body class="home">
        <nav class="redWest">
            <img class="navimg" alt="Arrow" width="165.6" height="76.95">
            <div class="navgroup">
                <a>Collections &nbsp;</a>
                <a>About &nbsp;</a>
                <a>Contact &nbsp;</a>
                <a>Logout</a>
            </div>
        </nav>
        <div style="disply: inline;">
            <img class="arrowAnimate">
            <a id="voteAd"> Vote for YOUR favourite deigns!</a>
        </div>



    </body>
</html>
