<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</head>
    <body class="home">
        <nav class="redWest">
            <a href="/home"><img class="navimg" alt="Arrow" width="165.6" height="76.95"></a>
            <div class="navgroup">
                <a href="/collections">Collections &nbsp;</a>
                <a href="/about">About &nbsp;</a>
                <a href="/contact">Contact &nbsp;</a>
                <a>Logout</a>
            </div>
        </nav>
        <div >
            <table id="tableHome">
              <tr>
                <td id="arrowID">
                  <img class="arrowAnimate">
                  </td>
                <td id="topRight">
                    <div class="athletics">
                        <a href="/collections#canadiana" id="athletics"> View Canadiana</a>
                        
                    </div>
                    <div class="athletics" id="graphicsdiv">
                        <a href="graphics" id="graphics"> Vote On Graphics</a>
                    </div>
                    
                  </td>
              </tr>
              <tr>
                <td colspan="2" id="social">
                    <div class="social">
  <a href="http://facebook.com/ondrej.p.barta" class="link facebook" target="_parent"><span class="fa fa-facebook-square"></span></a>
  <a href="https://twitter.com/PageOnlineXS" class="link twitter" target="_parent"><span class="fa fa-twitter"></span></a>
  <a href="https://plus.google.com/+OndřejBárta-Otaku" class="link google-plus" target="_parent"><span class="fa fa-google-plus-square"></span></a>
</div>
                  </td>
                  
              </tr>
            </table>
            
            
            
        </div>



    </body>
</html>
