<!DOCTYPE html>
<HEAD>
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</HEAD>
<BODY class="register">
    
    <div class="outer" id="outerup">
        <div class="middle">
            <div class="inner">
    <div class="regIn">
        <div class="regTitle">
          <img class="arrow" alt="Arrow" width="170" height="128">
		  <h1 id="jointitle">Join</h1>
        </div>
                <FORM method="post" action="/join" >
                    <input class="reg" type="text" name="username" placeholder="Username"><br>
                    <input class="reg" type="text" name="email" placeholder="Email Address"><br>
                    <input class="reg" type="password" name="password" placeholder="Password"><br>
                    <input  class="reg" type="submit" value="Create Account">
                </FORM>
              </div>
            </div>
        </div>
    </div>
</BODY>