<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</head>
<body class="landing">
   
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="logo">
                </div>
                <FORM method="post" action="/login" >
                     <div class="inputs">
                        <input type="text" name="username" placeholder="Username">
                        <input type="password" name="password" placeholder="Password">
                    </div>



                    <div class="buttons">
                       
                    <input id="loginButton" type="submit" value="Login" />
                        <a id="loginButton" href="/join">Register</a>
                    </div>
                </FORM>
            </div>
        </div>
    </div>
    
  
</body>
</html>
