<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body class="landing">
   
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="logo">
                </div>
                <div class="buttons">
                <a id="loginButton">Login</a>
                <a id="loginButton">Register</a>
                </div>
            </div>
        </div>
    </div>
    
  
</body>
</html>
