body {
     overflow: auto;
    height: 100%;
}
html, body {height:100%;}

/*Landing Page stuff*/
#loginButton {
    border: 2px solid black;
    width: 200px;
    
    color: #111;
    background-color: #663;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
    font-size: 50px;
    font-family: Bebas, BlackBoard;
    
}

.buttons {
    padding-bottom: 28px;
    text-align: center;
    width: 100vh;
    margin: 0 auto;  
    margin-top: 60px;
}

input {
    text-align: center;
    border-radius: 4px;   
    height: 30px;
    width: 230px;
    border: 2px solid black;
}
.inputs {
    
    margin-top: 20px;
    text-align: center;
}

body.landing, body.register {
     background-size: 100% 100vh;
     background-image: url(main-back.png);  
     background-repeat: no-repeat;
     z-index: -1;
     overflow: hidden;
}

.logo {
    margin: 0 auto;
    height: 364px;
    width: 800px;
    background-image: url(SteefishBlack.png);
    background-size: 100% 100%;
    overflow: hidden;
    border-radius: 10px;
        
}
.outer {
    display: table;
    position: absolute;
    height: 110%;
    width: 100%;
    overflow: hidden;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
    overflow: hidden;
}

/*Join/Register page*/
.regIn {
    width: 30%;
    height: 60%;
    background: rgba(0,0,0,0.5); 
    
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

input.reg {
    margin-bottom: 15px;
    width: 350px;
    height: 50px;
    border-radius: 7px;
    font-weight: 700;
}

#jointitle {
    color: #000;
    font-size: 110px;   
    font-family: Bebas;
    margin-bottom: 40px;
     display: inline-block;

}
.regTitle{
     padding-top: 40px;   
     display: inline-block;
}

.arrow {
     content: url(arrow.png);
     display: inline-block;
     margin-right: 30px;
}  

#outerup {
    height: 90%;   
}

/*Home Page*/
.home {
    background-image: url(dark_embroidery.png);
    background-repeat: repeat;
} 

.navimg {
    content: url(SteefishBlack.png);   
}


.redWest {
    margin-top: 1%;
    background-color: #000;   
    
}

.navgroup a {
    text-decoration: none;   
    color:white;
}

.navgroup {
    margin-top: 20px;
    margin-right: 40px;
    float: right;
    
    color: #FFF;
    font-family: Bebas;
    font-size: 30px;
}

#tableHome {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-collapse: separate;
    border-spacing: 15px;
}
#arrowID{
    height:auto;
    width: 60%;
    margin-right: 30px;
}
.arrowAnimate {
    content: url(homesuit.png);
    
    height: auto;
    width: 100%;
}
.arrowAnimate:hover {
    content: url(homesuit2.png);   
}
#topRight{
 height: 100%;   
}
#voteAd {
    background-color: #9F1D20;
    margin-top: 20px;
    margin-left: 100px;
    
    color: #FFF;
    font-family: BlackBaord;
    font-size: 50px;
    padding: 20px;
}

#athletics {
    text-decoration: none;
    font-family: Keepcalm;
    font-size: 30px;
    color: #000;
}
#graphicsdiv {
    margin-top: 20px;   
}
#graphics {
    text-decoration: none;
    font-family: Keepcalm;
    font-size: 30px;
    color: #000;
}

.athletics {
    text-align: center;
    vertical-align: middle;
    line-height: 900%;
    background-color: #ED1B24;
    height: 900%;
    width: 100%;
}
.athletics:hover {
    text-decoration: underline;   
}

.social {
    margin-top: 40px;
    text-align: center;
  width: 100%;
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 70px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.google-plus {
  background-color: tomato;
  color: white;
}

.social .link.twitter {
  background-color: #00ACEE;
  color: white;
}

.social .link.facebook {
  background-color: #3B5998;
  color: white;
}



/*ABOUT PAGE*/
.aboutContainer{
    background-color: #222;
    border-radius: 20px;
    border: 3px solid black;
    height: 80%;
    margin: 20px 35px;
}
.fullFlex{
    content: url(FullFlexExpress.jpg);   
    height: 40%;
    width: auto;
    padding-left: 20px;
}
#aboutTitle{
    font-family:  Bebas;
    font-size: 42px;
    text-decoration: underline;
    color: white;
    width:100%;
    text-align: center;
    font-weight: 100;
}
.contentText{
    font-family: Bebas;
    font-size: 20px;
    color: white;
    float: right;
    font-weight: 100;
    line-height: normal;
    padding-left: 15px;
}
/*Collections*/
.colContainer{
    background-color: #222;
    border-radius: 20px;
    border: 3px solid black;
    height: auto;
    margin: 20px 35px;
}
.ath{
 color: white;
    font-size: 28px;
    font-family:Keepcalm;
    padding-left: 10px;
}
#athTab{
     margin: 0 auto;
    width: 80%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 25px;
}
.bigbad{
 content: url(BigBad.png);
  width:100%;
}
.live{
 content: url(LiveLarge.png);
      width:100%;

}
.inverse{
 content: url(inverseLogo.png);
      width:100%;

}
.gold{
 content: url(Gold.png);
      width:100%;

}
.where{
 content: url(TheWomen-01.png);
      width:100%;

}
.arc{
 content: url(ArcadianCanadian.png);
      width:100%;

}
.go{
 content: url(GoWild.png);
      width:100%;

}
.great{
 content: url(GreatRedWest.png);
      width:100%;

}
.steel{
 content: url(SteelFish2.png);
      width:100%;

}
/*Contact*/

#contact_form{
    color:white;
    font-family: Bebas;
    font-size:32px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 25px;
}

#form_container{
   margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
}

#submit_button{
    background-color: #ED1B24;
    color: black;
    font-size: 20px;
    font-family: Bebas;
    text-transform: uppercase;
}
/*Fonts*/
@font-face {
    font-family: 'BlackBaord'; /*a name to be used later*/
    src: url(Blackboard.ttf); /*URL to font*/
}
@font-face {
    font-family: 'Bebas'; /*a name to be used later*/
    src: url(BebasNeue.otf); /*URL to font*/
}
@font-face {
    font-family: 'Keepcalm'; /*a name to be used later*/
    src: url(KeepCalm-Medium.ttf); /*URL to font*/
}