body {
     overflow: hidden;
}
/*Landing Page stuff*/
#loginButton {
    border: 2px solid black;
    width: 200px;
    
    color: #111;
    background-color: #663;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
    font-size: 50px;
    font-family: Bebas, BlackBoard;
    
}

.buttons {
    padding-bottom: 28px;
    text-align: center;
    width: 100vh;
    margin: 0 auto;  
    margin-top: 60px;
}

input {
    text-align: center;
    border-radius: 4px;   
    height: 30px;
    width: 230px;
    border: 2px solid black;
}
.inputs {
    
    margin-top: 20px;
    text-align: center;
}

body.landing {
     background-size: 100% 100vh;
     background-image: url(main-back.png);  
     background-repeat: no-repeat;
     z-index: -1;
     overflow: hidden;
}

.logo {
    margin: 0 auto;
    height: 364px;
    width: 800px;
    background-image: url(SteefishBlack.png);
    background-size: 100% 100%;
    overflow: hidden;
    border-radius: 10px;
        
}
.outer {
    display: table;
    position: absolute;
    height: 90%;
    width: 100%;
    overflow: hidden;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
    overflow: hidden;
}
@font-face {
    font-family: 'BlackBaord'; /*a name to be used later*/
    src: url(Blackboard.ttf); /*URL to font*/
}
@font-face {
    font-family: 'Bebas'; /*a name to be used later*/
    src: url(BebasNeue.otf); /*URL to font*/
}