body {
     overflow: hidden;
}
/*Landing Page stuff*/
#loginButton {
    border: 2px solid black;
    width: 200px;
    
    color: #111;
    background-color: #663;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
    font-size: 50px;
    font-family: Bebas, BlackBoard;
    
}

.buttons {
    padding-bottom: 28px;
    text-align: center;
    width: 100vh;
    margin: 0 auto;  
    margin-top: 60px;
}

input {
    text-align: center;
    border-radius: 4px;   
    height: 30px;
    width: 230px;
    border: 2px solid black;
}
.inputs {
    
    margin-top: 20px;
    text-align: center;
}

body.landing, body.register {
     background-size: 100% 100vh;
     background-image: url(main-back.png);  
     background-repeat: no-repeat;
     z-index: -1;
     overflow: hidden;
}

.logo {
    margin: 0 auto;
    height: 364px;
    width: 800px;
    background-image: url(SteefishBlack.png);
    background-size: 100% 100%;
    overflow: hidden;
    border-radius: 10px;
        
}
.outer {
    display: table;
    position: absolute;
    height: 110%;
    width: 100%;
    overflow: hidden;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
    overflow: hidden;
}

/*Join/Register page*/
.regIn {
    width: 30%;
    height: 60%;
    background: rgba(0,0,0,0.5); 
    
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

input.reg {
    margin-bottom: 15px;
    width: 350px;
    height: 50px;
    border-radius: 7px;
    font-weight: 700;
}

#jointitle {
    color: #000;
    font-size: 110px;   
    font-family: Bebas;
    margin-bottom: 40px;
     display: inline-block;

}
.regTitle{
     padding-top: 40px;   
     display: inline-block;
}

.arrow {
     content: url(arrow.png);
     display: inline-block;
     margin-right: 30px;
}  

#outerup {
    height: 90%;   
}

/*Home Page*/
.home {
    background-image: url(dark_embroidery.png);
} 

.navimg {
    content: url(SteefishBlack.png);   
}

.redWest {
    margin-top: 1%;
    background-color: #000;   
}

.navgroup {
    margin-top: 20px;
    margin-right: 40px;
    float: right;
    
    color: #FFF;
    font-family: Bebas;
    font-size: 30px;
}

#tableHome {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
border-collapse: separate;
border-spacing: 15px;}
#arrowID{
    height:auto;
    width: 60%;
    margin-right: 30px;
}
.arrowAnimate {
    content: url(homesuit.png);
    
    height: auto;
    width: 100%;
}
#topRight{
 height: 100%;   
}
#voteAd {
    background-color: #9F1D20;
    margin-top: 20px;
    margin-left: 100px;
    
    color: #FFF;
    font-family: BlackBaord;
    font-size: 50px;
    padding: 20px;
}

#athletics {
    text-decoration: none;
    font-family: Keepcalm;
    font-size: 30px;
    color: #000;
}
#graphicsdiv {
    margin-top: 20px;   
}
#graphics {
    text-decoration: none;
    font-family: Keepcalm;
    font-size: 30px;
    color: #000;
}

.athletics {
    text-align: center;
    vertical-align: middle;
    line-height: 900%;
    background-color: #ED1B24;
    height: 900%;
    width: 100%;
}
.athletics:hover {
    text-decoration: underline;   
}



/*Fonts*/
@font-face {
    font-family: 'BlackBaord'; /*a name to be used later*/
    src: url(Blackboard.ttf); /*URL to font*/
}
@font-face {
    font-family: 'Bebas'; /*a name to be used later*/
    src: url(BebasNeue.otf); /*URL to font*/
}
@font-face {
    font-family: 'Keepcalm'; /*a name to be used later*/
    src: url(KeepCalm-Medium.ttf); /*URL to font*/
}